.container{
  min-height: calc(100vh - 220px);
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 80%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 4px 17px 17px 3px #b4b4b4;
}


.title{
  margin-top: 10px ;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer{
  flex:1
}

.certificate{
  width:150px;
  height: 100px;
  background-color: transparent;
  background-image: url('../../assets/images/ssl.png');
  background-repeat: no-repeat;
  background-size:contain ;
}
.title h1{
  width: 70%;
}

.issuedBy,.issuedTo, .validFrom, .extension{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  width: 50%;
  display: flex;
  align-items: center;
}

.actions button{
  height: 20px;
  width: 65px;
  margin: 10px 10px;
}
 .details{
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
  width: 50%;
  align-items: center;
 }

 .extension{
   margin-top: 20px;
   border-top: 1px solid #eee;
   border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
 }
.description{
  flex-basis: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}
 label{
   flex-basis: 30%;
   text-transform: uppercase;
   font-weight: 500;
 }