<div class="container">
  <div *ngIf="certificate" class="content">
    <div class="title">
      <div class="certificate"></div>
      <div class="spacer"></div>
      <h1>Certificate Information</h1>
    </div>
    <div class="issuedTo">
      <label>Issued to:</label>
      <p class="description">{{certificate.issuedBy}}</p>
    </div>
    <div class="issuedBy">
      <label>Issued by:</label>
      <p class="description">{{certificate.issuedTo}}</p>
    </div>
    <div class="validFrom">
        <label>Valid from:</label>
        <p class="description">{{certificate.validFrom}}</p>
     
    </div>

    <div class="details">
      <div class="extension">
        <label>Version:</label>
        <p class="description">V{{certificate.version}}</p>
      </div>
      <div class="extension">
        <label>Serial Number:</label>
        <p class="description">{{certificate.serialNumber}}</p>
      </div>
      <div class="extension">
        <label>Signature Algorithm:</label>
        <p class="description">{{certificate.signatureAlgorithm}}</p>
      </div>
      <div class="extension">
        <label>Signature Hash Algorithm:</label>
        <p class="description">{{certificate.signatureHashAlgorithm}}</p>
      </div>
      <div class="extension">
        <label>Public key:</label>
        <p class="description">{{certificate.publicKey}}</p>
      </div>

      <div class="actions">
        <button (click)="navigateBack()">Back</button>
        <button (click)="printCertificate(certificate.serialNumber)">Print</button>
        <button (click)="revokeCertificate(certificate.serialNumber)">Revoke</button>
      </div>
    </div>
  </div>
</div>