<div class="container">
  <div class="content">
    <div class="title">
      <div class="certificate"></div>
      <div class="spacer"></div>
      <h1>Certificate Information</h1>
    </div>
    <div class="issuedTo">
      <label>Issued by</label>
      <p class="description">*.facebook</p>
    </div>
    <div class="issuedBy">
      <label>Issued by</label>
      <p class="description">DigiCert SHA2 High Assurance Server CA</p>
    </div>
    <div class="validFrom">
        <label>Valid from</label>
        <p class="description">01-Mar-20 to 30-May-20</p>
     
    </div>

    <div class="details">
      <div class="extension">
        <label>Version</label>
        <p class="description">V3</p>
      </div>
      <div class="extension">
        <label>Serial Number</label>
        <p class="description">3243153613613</p>
      </div>
      <div class="extension">
        <label>Signature Algorithm</label>
        <p class="description">SHA256RSA</p>
      </div>
      <div class="extension">
        <label>Signature Hash Algorithm</label>
        <p class="description">SHA256</p>
      </div>
      <div class="extension">
        <label>Public key</label>
        <p class="description">DSAJDOSJAODJAO24125152515125351+523253fcsafs</p>
      </div>
    </div>
  </div>
</div>