<div class="container">
  <div class="content">

    <div class="navbar">

      <div class="logo">
      </div>
      <div class="spacer"></div>
      <nav>
        <button *ngIf="isAuth" routerLink = "/showAllCertificates" routerLinkActive = "active">Show all certificates</button>
        <button *ngIf="isAuth" routerLink = "/createNewCertificate" routerLinkActive = "active">Create certificate</button>
        <button *ngIf="isAuth" (click)="logOut()">Log Out</button>
    </nav> 
    </div>
    <router-outlet></router-outlet>

    <div class="footer">
      Footer
    </div>
  </div>
</div>
