.container{
  margin: 0;
  padding: 0;
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:  100%;
}

.navbar{
  height: 100px;
  background: rgb(93, 93, 97);
  display: flex;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
}

.main-content{
  background: rgb(182, 182, 201);
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  background: #eee;
}

.spacer{
  flex: 1;
}

.footer{
  height: 100px;
  background: rgb(75, 74, 74);
  display: flex;
  justify-content: center;
  align-items: center;
}