<div class="main-content">
    <div class="container">
    <label for="commonName"><b>Common name</b></label>
    <input type="text" placeholder="Enter common name" name="commonName" required>

    <label for="country"><b>Country</b></label>
    <input type="text" placeholder="Enter country" name="country" required>
    
    <label for="surname"><b>Surname</b></label>
    <input type="text" placeholder="Enter surname" name="surname" required>

    <label for="givenName"><b>Given name</b></label>
    <input type="text" placeholder="Enter givenname" name="givenName" required>
    
    <label for="organization"><b>Organization</b></label>
    <input type="text" placeholder="Enter organization" name="organization" required>

    <label for="organizationalUnit"><b>Organizational unit</b></label>
    <input type="text" placeholder="Enter organizational unit" name="organizationalUnit" required>

    <button type="submit">Login</button>
    </div>
</div>